<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add 
      name="Simple.Data.Properties.Settings.DefaultConnectionString" 
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Aptitud.DeviationReporter;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
</configuration>